	<include file="Public/Template/Header.html" />
  
	<div class="am-g">
		<div class="am-u-sm-12">
			<p><a href="{:u('Index/showXf')}" type="submit" class="am-margin-bottom-xs am-btn am-btn-danger am-u-sm-12">消费明细</a></p>
			<p><a href="{:u('Index/showOrder')}" type="button" class="am-margin-bottom-xs am-btn am-btn-success am-u-sm-12">下单记录</a></p>
			<table class="am-text-nowrap am-table-compact am-table-radius am-table-bordered am-table am-table-hover">
				<thead>
					<tr>
						<th class="am-u-sm-1">单号</th>
						<th class="am-u-sm-4">任务内容</th>
						<th class="am-u-sm-1">件</th>
						<th class="am-u-sm-3">时间</th>
						<th class="am-u-sm-3">状态</th>
					</tr>
				</thead>
				<tbody id="order-hisory">
					<foreach name="list" item="v">
					<tr>
						<td class="am-u-sm-1 am-text-truncate">{$v.id}</td>
						<td class="am-u-sm-4 am-text-truncate">{$v.mname}</td>
						<td class="am-u-sm-1 am-text-truncate">{$v.mnum}</td>
						<td class="am-u-sm-3 am-text-truncate">{:date('Y-m-d:H:i:s',$v['mcreate_time'])}</td>
						<td class="am-u-sm-3 am-text-truncate"><if condition="$v.mstate eq 0"><span class="am-text-danger" >未处理</span><elseif condition="$v.mstate eq 1"/><a class="budan" dataId="{$v.id}" href="#">补单</a>&nbsp;<span class="am-text-success" >已完成</span><elseif condition="$v.mstate eq 2"/>取消订单<elseif condition="$v.mstate eq 3"/><span class="am-text-primary" >正在处理</span><elseif condition="$v.mstate eq 4"/><span class="am-text-danger" >补单</span></if></td>
					</tr>
					<if condition="$v.mstate eq 2">
						<tr><td style="background:#FFFFFF;" colspan="6">取消原因：{$v.mbz}</td></tr>
					</if>
					</foreach>
				</tbody>
			</table><div class="am-cf">
              
              <div id="mpage" class="am-fl am-margin-bottom">
              	<span>本页共({:count($list)})条记录.</span>
              </div>
              <div id="mpage" class="am-fr am-margin-bottom">
				{$page}
              </div>
	<!--这里显示窗口内容-->
				<div class="am-modal am-modal-prompt" tabindex="-1" id="my-prompt">
				  <div class="am-modal-dialog">
				    <div class="am-modal-hd">补单</div>
				    <div class="am-modal-bd">
				      请输入补单原因...
				      <input type="text" placeholder="请输入需要补的数量，不要乱填谢谢合作！" value="" class="am-modal-prompt-input">
				    </div>
				    <div class="am-modal-footer">
				      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
				      <span class="am-modal-btn" data-am-modal-confirm>提交</span>
				    </div>
				  </div>
				</div>

			  <style>
					.current{
						color:white;
						text-align:center;
						width:42px;
						line-height:37px;
						display:inline-table;
						background-color: #0e90d2;
						border-color: #0e90d2;
						margin-right:5px;
					}
					.num,.next,.prev{
						color:#0e90d2;
						text-align:center;
						width:42px;
						line-height:37px;
						display:inline-table;
						background-color: #fff;
						border: 1px solid #ddd;
						margin-right:5px;
					}
			  </style>
            </div>
		</div>
	</div>
  
  </footer>
	<div style="position:fixed;bottom:0px;" class="am-btn-group am-btn-group-justify">
		<a href="{:u('Index/showUser')}" class="am-text-xs am-btn am-btn-default" role="button"><span class="am-icon-skyatlas  am-text-danger"> <br>会员中心</span></a>
		<a href="{:u('Index/indexs')}" class="am-text-xs am-btn am-btn-default" role="button"><span class="am-icon-paper-plane am-text-success"> <br>在线下单</span></a>
		<a href="{:u('Index/showOrder')}" class="am-text-xs am-btn am-btn-default" role="button"><span class="am-icon-shopping-cart am-text-secondary"> <br>订单记录</span></a>
	</div>
</section>


<!--开始编写你的代码-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/assets/js/amazeui.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('#order-hisory').on('click','.budan',function(){
			var id = $(this).attr('dataId');
			$('#my-prompt').modal({
			      relatedTarget: this,
			      onConfirm: function(e) {
			      	$.post({
			      		url:'{:u("Admin/Index/Api_Data")}',
			      		data:{act:'saveOrderState',Id:id,mstate:4,mbz:e.data},
			      		success:function(data){
			      			
			      		}
			      	});
			      },
			      onCancel: function(e) {
			        alert('取消补单！');
			      }
			    });
		});
	});
</script>
</body>
</html>