<include file="Public/Template/Headers.html" />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->


        <!-- Main content -->
        <!--<section class="content">-->

        <!--[if lte IE 9 ]>
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            365 安全卫士提醒：你的浏览器太古董了，妹子无爱，还不 <a href="http://rj.baidu.com/soft/detail/14744.html?ald" target="_blank">速速换一个</a>！
        </div>
        <![endif]-->

        <!--子文件-->

        <style>
            .jumbotron{
                padding-top:0px;

                margin-bottom: 0;
                background-color: #ffffff;
                padding-bottom:0px;
            }
            .alert-danger1{
                color:#a94442;
                background-color:#f2dede;
                border-color:#ebccd1;
            }
        </style>
        <section class="content">

            <div class="alert alert-danger1 alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                手机用户点“左上角”的按钮展开功能。电脑尽量使用chrome浏览器，手机尽量使用系统浏览器或chrome
            </div>


            <div class="jumbotron text-center">
                <img src="__XIADAN__/dist\img\mascot.png" class="img-responsive center-block faa-float animated" alt="..." />

                <h1>闪电直播助手</h1>
                <!--  <p><h5>还在苦苦寻找软件，结果下载了一车木马病毒吗？</h5></p>
                  <p><h5>在线操作，离线运行，兼容移动端、PC端</h5></p>
                  <p><h5>随时、随地、高效、稳定、安全</h5></p>-->
                <p><h5>高颜值？才艺出众？不懂套路..</h5></p>
                <p><h5>也只能埋没在直播大军之中..</h5></p>
                <p><h5>网红都有个过程，过程中全是套路...</h5></p>


                <div class="row">

                    <div class="col-lg-3 col-lg-offset-1">
                        <img class="faa-horizontal animated" src="__XIADAN__/dist/img/foundation.png">
                        <p><b>移动为先</b> </p><p>从小屏到大屏，优先兼容移动用户，随时！随地！</p>
                    </div>
                    <div class="col-lg-3">
                        <img class="faa-float animated" src="__XIADAN__/dist/img/yun.png">
                        <p><b>云为先</b></p> <p>功能全部集群到云端，解决传统必须开着电脑，手动管理的烦恼！</p>
                    </div>
                    <div class="col-lg-3">
                        <img class="faa-bounce animated" src="__XIADAN__/dist/img/web.png">
                        <p><b>功能丰富</b></p> <p>横跨多直播平台，功能丰富！没错，网红都是套路！</p>
                    </div>


                </div>
            </div>
        </section>
    </div>
<include file="Public/Template/Footers.html" />
