<div class="am-cf am-padding">
	<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">代理列表</strong> / <small>新增代理</small></div>
</div>
  <hr>
  <div class="am-tabs am-margin" data-am-tabs>
      <ul class="am-tabs-nav am-nav am-nav-tabs">
        <li class="am-active"><a href="#tab1">代理信息</a></li>
      </ul>
          <form id="formUser" class="am-form"  data-am-validator>

      <div class="am-tabs-bd">
        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">代理账号</div>
            <div class="am-u-sm-8 am-u-md-10">
				<div class="am-u-sm-8 am-u-md-4">
					<input type="text" name="muser" class="am-input-sm" minlength="6" placeholder="账号最少为6位" required  >
				</div>
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">代理密码</div>
            <div class="am-u-sm-8 am-u-md-10">
				<div class="am-u-sm-8 am-u-md-4">
					<input type="text" name="mpass" id="doc-vld-pwd-1" class="am-input-sm" minlength="6" placeholder="密码最少为6位" required   >
				</div>
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">确认密码</div>
            <div class="am-u-sm-8 am-u-md-10">
				<div class="am-u-sm-8 am-u-md-4">
					<input type="text" name="mpass" class="am-input-sm" data-equal-to="#doc-vld-pwd-1"  minlength="6" placeholder="密码最少为6位" required   >
				</div>
            </div>
          </div>


        </div>

      </div>
		<button id="saveUser" type="submit" class="am-margin-top am-btn am-btn-primary am-btn-xs">提交保存</button>
          </form>
    </div>

    <div class="am-margin">
    </div>
<script>
	$('#formUser').submit(function(){
		var subData = $('#formUser').serialize();
		$.post({
			url:'{:u("Index/actUser")}',
			data:subData,
			success:function(data){
				if(data){
					alert('添加成功！');
				} else {
					alert('添加失败！');
				}
			}
		});
		return false;
	});
</script>